/*START Main content*/
.Main-content {
  background-color: #141516;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 85vh;
}

.list-group{
  margin-top: 1vh;
  width: 50vw;
}
.list-group-item-action{
  padding:0;
}
.list-group-item-action label{
  width:100%;
  padding: 12px 20px;
}

/*END Main-content*/
.Main-header{
  height: 10vh;
}

.Main-header nav{
  height: 100%;
}



  .Main-header nav{
    background-color:  rgb(65 65 198);
    color:#fff;
  }

  .Main-header nav a{
    color:#fff;
  }


.Main-footer{
  height: 5vh;
}
